* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  }


html, body, input {
  font-family: arial, sans-serif;
}
html, body {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
}


/* [FORM] */
#todo-wrap input {
  box-sizing: border-box;
  font-size: 0.9em;
}
#todo-wrap input[type=text] {
  padding: 10px 8px;
  border: 3px solid #F7A500;
  border-radius: 20px;
}

#todo-wrap input[type=button], #todo-wrap input[type=submit] {
  padding: 8px 5px;
  color: #fff;
  background: #F73827;
  border: 2px solid #F7A500;
  cursor: pointer;
  border-radius: 20px;
}


/* [CLEARFIX] */
#todo-wrap .clearfix {
  overflow: auto;
}
#todo-wrap .clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* [WRAPPER] */
#todo-wrap {
  max-width: 600px;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 45px -6px rgba(0,0,0,0.54);
}


/* [HEADER] */
#todo-wrap h1 {
  font-size: 2.5em;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  margin: 0;
  color: #F7A500;
}


/* [ADD] */
#todo-form {
  margin: 20px 0;
}
#todo-form input {
  display: block;
  float: left;
}
#todo-form input[type=text] {
  width: 100%;
  margin-bottom: 30px;
  color: #F7A500;
}
/*
#todo-form input[type=submit] {
  width: 15%;
  background: #1DF7B9;
  border: 2px solid #1DF7B9;
}
*/


/* [DELETE] */
#todo-del {
  margin-top: 30px;
}


/* [LIST ITEMS] */
#todo-list .clearfix {
  margin-bottom: 8px;
}
#todo-list .clearfix div, #todo-list .clearfix input {
  box-sizing: border-box;
  float: left;
  display: block;
}
#todo-list .item {
  border: 1px solid #F7A500;
  background: #fff;
  width: 75%;
  padding: 10px;
  color: #F7A500;
  border-radius: 20px;
}
#todo-list .item.cx {
  background: #f7797d;
  text-decoration: line-through;
}
#todo-list .item.done {
  background: #c6ffdd;
  text-decoration: line-through;
}
#todo-list .clearfix input {
  width: 7%;
  margin-left: 5px;
}
#todo-list input.bdone {
  background: #4AA53D;
  border: 2px solid #F7A500;
  border-radius: 50%;
}
#todo-list input.bdone:focus {
  background: #F7A500;
  border: 2px solid #4AA53D;
}
#todo-list input.bcansel {
  background: #F7A500;
  border: 2px solid #4AA53D;
  border-radius: 50%;
}
#todo-list input.bcansel:focus {
  background: #4AA53D;
  border: 2px solid #F7A500;
  }
  #todo-list input.bdel:focus {
  background: #f7797d;
  border-radius: 50%;
}